---
layout: landing-page
---


<!-- Main -->
<html>

<head>
	<meta charset="UTF-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>

<body>
	<article id="main">
		<header class="special container">
			<!-- <span class="icon fa-solid fa-heart-pulse"></span> -->
			<h4>Our mission is to drive innovation,<br /> develop transformative solutions, and <br />shape the future
				of
				digital medicine.
				<br />
			</h4>

			
			<p>Through rigorous exploration of digital technologies, data analytics, and interdisciplinary
				collaboration,
				<br />our trials are still on going, <strong>since 2022.</strong>
				<br />
				<br />
			</p>
		</header>
	</article>



	<!-- Two -->


	<article id="main" style="padding-bottom: 0;">
		<section class="wrapper style1 container special-alt">
			<div class="row half">
				<div class="8u">

					<header>
						<h2>Why D.Lab ?</h2>
					</header>
					<p style="color: #036166df">&emsp; <strong style="color:#F57C13;">Digital</strong> medicine
						leverages
						technology
						such as the Internet of Things (IoT) and
						artificial intelligence (AI) to collect, analyze, and manage medical data. </br>
						&emsp;This
						<strong style="color:#F57C13;">Data</strong>-driven approach enhances
						patient care, <strong style="color:#F57C13;">Diagnosis</strong> &
						<strong style="color:#F57C13;">Decision</strong> support and treatment
						by enabling real-time monitoring,
						predictive analytics, and personalized medicine. </br>
						&emsp;It also promotes remote healthcare
						<strong style="color:#F57C13;">Delivery</strong> through
						telemedicine and mobile health apps, improving accessibility and healthcare efficiency while
						transforming how healthcare is delivered and experienced.
					</p>
					<ul class="buttons">
						<li><a href="htmls/inside_the_lab/DHLAB@AMC.html" class="button">About Us</a></li>
					</ul>
					<br>
				</div>

				<div class="4u skel-cell-important">
					<ul class="featured-icons">
						<li><span class="icon fa-solid fa-heart-pulse" style="color:#036166df"><span
									class="label">Feature
									1</span></span></li>
						<li><span class="icon fa-solid fa-bed-pulse" style="color:#252422"><span class="label">Feature
									2</span></span></li>
						<li><span class="icon fa-solid fa-server" style="color:#252422"><span class="label">Feature
									3</span></span></li>
						<li><span class="icon fa-solid fa-network-wired" style="color:#036166df"><span
									class="label">Feature
									4</span></span></li>
						<li><span class="icon fa-solid fa-person-dots-from-line" style="color:#036166df"><span
									class="label">Feature 5</span></span>
						</li>
						<li><span class="icon fa-solid fa-hand-holding-medical" style="color:#252422"><span
									class="label">Feature 6</span></span>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</article>

	<!-- One -->
	<article id="main" style="padding-top: 0;">
		<section class="wrapper style1 container special">


			<div class="num-container" id="num-container">
				<div class="num-item">
					<h3 class="in-title">Paper</h3>
					<br>
					<span class="nums" data-count="239">0</span><span id="num-unit"></span><br>
					<!-- <span class="sub-title">test1</span><br> -->
				</div>
				<div class="num-item">
					<h3 class="in-title">Patent</h3>
					<br>
					<span class="nums" data-count="173">0</span><span id="num-unit"></span><br>
					<!-- <span class="sub-title">test1</span><br> -->
				</div>
				<div class="num-item">
					<h3 class="in-title">Project</h3>
					<br>
					<span class="nums" data-count="26">0</span><span id="num-unit"></span><br>
					<!-- <span class="sub-title">test1</span><br> -->
				</div>

			</div>
		</section>
	</article>

	<!-- Three -->
	<div style="background-color: white; margin-top: 40px; margin-bottom: 0; padding: 0 0 1px 0; ">
		<section class="wrapper style1 container">
			<header class="major">
				<h4>Research Topics</h4>
			</header>

			<div class="row">

				<div class="4u">
					<section>
						<a href="htmls/research/PPG_analysis.html#PPGAnalysis" class="image featured"><img
								src="images/research/PPGAnal.png" alt="" class="image hover" /></a>
						<header>
							<h3 class="RT">PPG Analysis
							</h3>
							<p class="RT">#Blood pressure #PTT #Vascular Aging</p>
						</header>
					</section>
				</div>


				<div class="4u">
					<section>
						<a href="htmls/research/disease_prediction.html#diseasePrediction" class="image featured"><img
								src="images/research/DiseasePrediction.png" alt="" class="image hover" /></a>
						<header>
							<h3 class="RT">Disease Predictions
							</h3>
							<p class="RT">#Atrial Fibrillation #GWAS #AI</p>
						</header>
					</section>
				</div>
				<div class="4u">
					<section>
						<a href="htmls/research/heart_rhythm.html#heartRhythm" class="image featured"><img
								src="images/research/HeartRhythm.png" alt="" class="image hover" /></a>
						<header>
							<h3 class="RT">Heart Rhythm
							</h3>
							<p class="RT">#HRV #Arrhythmia</p>
						</header>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="4u">
					<section>
						<a href="htmls/research/pain.html#pain" class="image featured"><img
								src="images/research/Pain.png" alt="" class="image hover" /></a>
						<header>
							<h3 class="RT">Pain
							</h3>
							<p class="RT">#Chronic pain #Severity #Recovery </p>
						</header>
					</section>

				</div>
				<div class="4u">

					<section>
						<a href="htmls/research/sleep.html#sleep" class="image featured"><img
								src="images/research/Sleep.png" alt="" class="image hover" /></a>
						<header>
							<h3 class="RT">Sleep
							</h3>
							<p class="RT">#Monitoring #Device #Actigraphy</p>
						</header>
					</section>
				</div>

				<div class="4u">
					<section>
						<a href="htmls/research/wearable_IoT_&_platform.html#wearableIoT&Platform"
							class="image featured"><img src="images/research/Wearable.png" alt=""
								class="image hover" /></a>
						<header>
							<h3 class="RT">Wearable IoT & Platform
							</h3>
							<p class="RT">#Biosignal #Activity #Patient tracking</p>
						</header>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="4u">

					<section>
						<a href="htmls/research/biosignal_processing.html#bigmedicalSignalProcessing"
							class="image featured"><img src="images/research/BiosignalProcessing.png" alt=""
								class="image hover" /></a>
						<header>
							<h3 class="RT">Biosignal Processing
							</h3>
							<p class="RT">#QA #Filtering #Reconstruction</p>

						</header>
					</section>

				</div>


				<div class="4u">
					<section>
						<a href="htmls/research/therapeutics.html#therapeutics" class="image featured"><img
								src="images/research/Therapeutics.png" alt="" class="image hover" /></a>
						<header>
							<h3 class="RT">Therapeutics
							</h3>
							<p class="RT">#DTx #Software</p>
						</header>
					</section>
				</div>


				<div class="4u">
					<section>
						<a href="htmls/research/lab_test.html#labTest" class="image featured"><img
								src="images/research/LabTests.png" alt="" class="image hover"></a>
						<header>
							<h3 class="RT">Lab Tests
							</h3>
							<p class="RT">#Auto #Error Detection</p>
						</header>
					</section>
				</div>
			</div>

		</section>
	</div>

	<!-- <article id="main">
		<section class="wrapper style1 container">
			<header class="major">
				<h2>Latest News</h2>
			</header>
			<ul class="cards-container">
				{% for post in site.posts limit: 3 %}
				<li class="card wrapper style1">
					<p><a href="{{ post.url }}">{{ post.title }}</a></p>
					<p class="post-date" style="font-size: 14px; margin-bottom: 5px; margin-top: 0;color:#036166df;">
						{{ post.date | date: "%Y-%m-%d" }}
					</p>
					{% if post.featured-img %}
					<a href="{{ post.url }}" style="border: none;">
						<img src="{{ post.featured-img }}" alt="{{ post.title }}" style="width: 80%;">
					</a>
					{% endif %}
					<p style="font-size: 14px; margin-bottom: 0; color:#036166df;">
						{{ post.short-content }}
					</p>
					<hr>
				</li>
				{% endfor %}
			</ul>
		</section>
	</article> -->

	<article id="main-small">
		<section class="wrapper style1 container">
			<header class="major">
				<h2 style="text-align: center;">Latest News</h2>
			</header>

			{% for post in site.posts limit: 3 %}
			<div class="blog-card">
				<div class="meta">
					<div class="photo" style="background-image: url('{{ post.featured-img }}')"></div>
					<a href="{{ post.url }}">
						<ul class="details">
							<li class="date">{{ post.date | date: "%B %d, %Y" }}</li>
						</ul>
					</a>
				</div>
				<div class="description">
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
					<p>{{ post.short-content }}</p>
					<p class="read-more">
						<a href="{{ post.url }}">Read More</a>
					</p>
				</div>
			</div>
			{% endfor %}
		</section>
	</article>


	<article id="main-large">
		<section class="wrapper style1 container">
			<header class="major">
				<h2 style="text-align: center;">Latest News</h2>
			</header>

			<div class="blog-slider">
				{% for post in site.posts limit: 5 %}
				<div class="main-card">
					<div class="description">
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
						<p>{{ post.short-content }}</p>
						<p class="read-more">
							<a href="{{ post.url }}">Read More</a>
						</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	</article>

	<div class="contents">
		<!-- CTA -->
		<div id="wrap">
			<div class="contents">
				<section id="cta">
					<header>
						<h2>Contact</h2>
						<h3>Address</h3>
						<p>
							Asan Institute for Life Sciences, 88 Olympic-ro 43-gil, Songpa-gu, Seoul,<br />
							05505, Republic of Korea
						</p>
						<h3>Contact e-mail</h3>
						<p>
							<a href="mailto:digitalhealth.amc@gmail.com"
								style="color: white;">digitalhealth.amc@gmail.com</a>
						</p>
					</header>

				</section>
			</div>

</body>

</html>