<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            
            <h2>Digital Medicine LAB </h2>
        </header>
        <p> <strong>D</strong>  Laboratory at the Forefront of Digital Medicine Research
        <br />
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">More about us</a></li>
            </ul>
        </footer>

    </div>

</section>