<!-- Banner -->
<section id="banner">


    <div class="slideshow-container">


      
            <div class="mySlideDiv fade active">
                <div class="inner">
                <header>
                    <h1>Digital &nbsp;Medicine &nbsp; LAB </h1>
                </header>
                <p> <strong>D</strong>-LAB at the Forefront of Digital Medicine Research
                    <br />
                    <br />
                <footer>
                    <div class="round-box">
                        <a href="#main" class="fit scrolly">
                            <span class="icon fa-solid fa-angle-down"></span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>

       
            <div class="mySlideDiv fade">
                <div class="inner">
                <header>
                    <h1>Digital &nbsp;Medicine &nbsp; LAB </h1>
                </header>
                <p> <strong>D</strong>-LAB at the Forefront of Digital Medicine Research
                    <br />
                    <br />
                <footer>
                    <div class="round-box">
                        <a href="#main" class="fit scrolly">
                            <span class="icon fa-solid fa-angle-down"></span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>




  
            <div class="mySlideDiv fade">
                <div class="inner">
                <header>
                    <h1>Digital &nbsp;Medicine &nbsp; LAB </h1>
                </header>
                <p> <strong>D</strong>-LAB at the Forefront of Digital Medicine Research
                    <br />
                    <br />
                <footer>
                    <div class="round-box">
                        <a href="#main" class="fit scrolly">
                            <span class="icon fa-solid fa-angle-down"></span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>


        <a class="prev" onclick="prevSlide()">&#10094;</a>
        <a class="next" onclick="nextSlide()">&#10095;</a>

        
    </div>
</section>





<style>

</style>