<header id="header">
	<a id="logo" href="/"><img
			src="/images/logo/new_logo.jpg" alt=""></img></a>

	<nav id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/htmls/research/PPG_analysis.html">Research</a></li>

			<li>
				<a href="/htmls/publications/publications_journal.html">publications</a>
			</li>

			<li class="submenu">
				<a href="/htmls/inside_the_lab/DHLAB@AMC.html">Inside the Lab</a>
				<ul id="submenu-ul">
					<li><a href="/htmls/inside_the_lab/DHLAB@AMC.html">DLab@AMC</a></li>
					<li><a href="/htmls/inside_the_lab/DHLAB@AMC.html#Members">Members</a></li>
					<li><a href="/htmls/inside_the_lab/DHLAB@AMC.html#Project">Projects</a></li>
					<li><a href="/htmls/inside_the_lab/news.html">News</a></li>
				</ul>
			</li>

			<li><a href="/htmls/collaboration/contact.html">Contact</a></li>
		</ul>

	</nav>
</header>