<header id="header">
	<h1 id="logo"><a href="/"><img src="/images/logo/logo_final.PNG" alt="" style="padding-left: 60px;"></img></a></h1>
	<nav id="nav">

		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/htmls/research/lab_test.html">Research</a></li>

			<li>
				<a href="/htmls/publications/publications_journal.html">publications</a>	
			</li>


			<li class="submenu">
				<a href="/htmls/inside_the_lab/DHLAB@AMC.html">Inside the Lab</a>
				<ul>
					<li><a href="/htmls/inside_the_lab/DHLAB@AMC.html">DLab@AMC</a></li>
					<li><a href="/htmls/inside_the_lab/DHLAB@AMC.html#Members">Members</a></li>
					<li><a href="/htmls/inside_the_lab/DHLAB@AMC.html#Project">Projects</a></li>
					<li><a href="/htmls/inside_the_lab/news.html">News</a></li>
				</ul>
			</li>

			<li><a href="/htmls/collaboration/collaboration.html">Collaboration</a></li>

		</ul>

	</nav>
</header>
