<header id="header">
	<h1 id="logo"><a href="/"><img src="/images/logo/logo3.png" alt=""></img></a></h1>
	<nav id="nav">

		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/htmls/research_topics.html">Research</a></li>

			<li class="submenu">
				<a href="">publications</a>
				<ul>
					<li><a href="/htmls/publications/publications_journal.html">Journal</a></li>
					<li><a href="/htmls/publications/publications_conference.html">Conference</a></li>
					<li><a href="/htmls/publications/publications_patent.html">Patent</a></li>
					<!-- <li><a href="/htmls/publications/publications_test.html">test</a></li> -->
				</ul>
			</li>


			<li class="submenu">
				<a href="">Inside the Lab</a>
				<ul>
					<li><a href="/htmls/inside_the_lab/DHLAB@AMC.html">DLab@AMC</a></li>
					<li><a href="/htmls/inside_the_lab/memebers.html">Members</a></li>
					<li><a href="/htmls/inside_the_lab/project.html">Projects</a></li>
					<li><a href="/htmls/inside_the_lab/news.html">News</a></li>
				</ul>
			</li>

		</ul>

	</nav>
</header>