---
layout: default
---
<!-- Main -->
<article id="main">

	<header class="special container">
		<span class="icon fa-solid fa-layer-group"></span>
		<h2><strong>inside the lab</strong></h2>
	</header>

	<!-- One -->
	<section class="wrapper style1 container special">
		<div class="row">
			<div class="3u">
				<section>
					<ul class="buttons">
						<li><a href="#start" class="button fit scrolly"><span
									class="icon featured a-solid fa-users"></span>Insied The Lab</a></li>
					</ul>
				</section>
			</div>

			<div class="3u">
				<section>
					<ul class="buttons">
						<li><a href="#Members" class="button fit scrolly"><span
									class="icon featured fa-solid fa-user-tie"></span>memebers</a></li>
					</ul>
				</section>
			</div>
			<div class="3u">
				<section>
					<ul class="buttons">
						<li><a href="#Project" class="button fit scrolly"><span
									class="icon featured   fa-sheet-plastic"></span>project</a></li>
					</ul>
				</section>
			</div>
			<div class="3u">
				<section>
					<ul class="buttons">
						<li><a href="#Connection" class="button fit scrolly"><span
									class="icon featured a-solid fa-users"></span>Connection</a></li>
					</ul>
				</section>
			</div>
		</div>
	</section>



	<!-- Two -->
	<span id="InsideTheLab"></span>
	<section class="wrapper style4 container" id="start">

		<div class="row oneandhalf">
			<div class="5u">
				<!-- Sidebar -->
				<div class="sidebar">
					<section>
						<img src="/images/logo/logo2.png" alt="" style="width: 360px;">
						<header>
							<h3>MISSION & VISION</h3>
						</header>
						<p style="margin-bottom: 8px;">Our mission is to harness the collective power of knowledge and
							cutting-edge technology
							across diverse domains to deliver innovative solutions that promote human well-being, with a
							particular emphasis on advancing healthcare practices that contribute to a healthier and
							happier existence. In parallel, we are dedicated to nurturing a cadre of imaginative and
							resilient professionals capable of perpetuating this quest.
						</p>
					</section>
				</div>
			</div>
			<div class="6u">
				<div class="sidebar">
					<section>
						<header>
							<h3>이미지 자리 </h3>
						</header>
						<img src="/images/test.jpg" alt="" width="600px">
					</section>
				</div>
			</div>
			<div class="6u">
				<!-- Sidebar -->
				<div class="sidebar">
					<section>
						<header>
							<h3>이미지 자리 </h3>
						</header>
						<img src="/images/test.jpg" alt="" width="600px">
					</section>
				</div>
			</div>

			<div class="5u">
				<div class="sidebar">
					<section>
						<header>
							<h3>HISTORY</h3>
						</header>
						<p style="margin-bottom: 8px;">D.Lab opened in March 2022 at Asan Medical Center, University of
							Ulsan College of Medicine.
							DLab's predecessor was Healthcare Solution Lab., which was originally established at the
							College of Engineering Science at Chonnam National University. It was later renewed as D.Lab
							when Professor Hangsik Shin, the Principal Investigator (PI), relocated to Asan Medical
							Center, University of Ulsan College of Medicine
						</p>
					</section>
				</div>
			</div>


			<div class="8u skel-cell-important">
				<!-- Content -->
				<div class="content">
					<section>
						<header>
							<h3>News</h3>
						</header>
						<ul class="posts">
							{% for post in site.posts limit: 4 %}
							<li class="wrapper style1" style="margin-bottom: 0;">
								<p style="margin-bottom: 0;"><a href="{{ post.url }}">{{ post.title }}</a></p>
								<p class="post-date" style="font-size: 14px; margin-bottom: 0;">{{ post.date | date:
									"%Y-%m-%d" }}</p>
							</li>
							{% if forloop.last == false %}
							<hr style="border: 1px solid #ccc; margin-bottom: 0;"> <!-- 게시물 간의 밑줄 -->
							{% endif %}
							{% endfor %}
						</ul>
					</section>
				</div>
			</div>
	</section>
</article>

<span id="Members"></span>
<article id="main">

	<header class="special container">
		<span class="icon fa-solid fa-layer-group"></span>
		<h2>Members</h2>
	</header>



	<article class="sections-container">
		<section class="wrapper style1 container special">
			<div class="row">

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Hangsik Shin.html">
							<img src="/images/members/신항식.jpg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>


					<p style="text-align: center; margin: 10px 0;">
						<strong>Principal Investigator</strong><br>
						<span style="font-size: 2rem; "> Hangsik Shin,</span> <span
							style="font-size: 0.9rem;">Ph.D.</span><br>
						<a href="mailto:hangsik.shin@amc.seoul.kr">hangsik.shin@amc.seoul.kr</a>
					</p>

					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						Biosignal processing, Clinical decision support, Digital Healthcare, Internet of Medical Things,
						Medical
						data analysis
					</p>
				</div>


				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Changwon Wang.html">
							<img src="/images/members/왕창원.jpeg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>


					<p style="text-align: center; margin: 10px 0;">
						<strong>Postdoctoral Researcher</strong><br>
						<span style="font-size: 2rem; "> Changwon Wang,</span> <span
							style="font-size: 0.9rem;">Ph.D.</span><br>
						<a href="mailto:lovelyiu31@gmail.com">lovelyiu31@gmail.com</a>
					</p>

					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						IoT, Smart Hospital, Digital Healthcare, Gait analysis, Digital therapeutics
					</p>
				</div>

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Gayeon Ryu.html">
							<img src="/images/members/류가연.jpeg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Graduate Student</strong><br>
						<span style="font-size: 2rem; "> Gayeon Ryu,</span> <span
							style="font-size: 0.9rem;">B.Sc.</span><br>
						Master Course, AMIST<br>
						<a href="mailto:rgy90257823@gmail.com">rgy90257823@gmail.com</a>
					</p>


					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						Data analysis, Statistical, Machine learning
					</p>
				</div>

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Jaehyung Lee.html">
							<img src="/images/members/이재형.jpeg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Graduate Student</strong><br>
						<span style="font-size: 2rem; "> Jaehyung Lee,</span> <span
							style="font-size: 0.9rem;">B.Eng.</span><br>
						Master Course, AMIST<br>
						<a href="mailto:zeus9656@gmail.com">zeus9656@gmail.com</a>
					</p>

					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						GNN, Image classification, Medical AI
					</p>
				</div>

			</div>
		</section>


		<section class="wrapper style1 container special">
			<div class="row">

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Yeongdon Kim.html">
							<img src="/images/members/김영돈.jpg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Researchers</strong><br>
						<span style="font-size: 2rem; "> Yeondon Kim,</span> <span
							style="font-size: 0.9rem;">M.S.</span><br>
						<a href="mailto:kyd5022@naver.com">kyd5022@naver.com</a>
					</p>

					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						Software Development, TinyML, Digital Healthcare
					</p>
				</div>

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Ji Hyeun Park.html">
							<img src="/images/members/박지현.jpg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Researchers</strong><br>
						<span style="font-size: 2rem; "> Ji Hyeun Park,</span> <span style="font-size: 0.9rem;">
							M.S.</span><br>
						<a href="mailto:tinapjh93@naver.com">tinapjh93@naver.com</a>
					</p>


					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						Cognitive science, Rehabilitation, Digital Healthcare
					</p>
				</div>

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Hyeon Seok Seok.html">
							<img src="/images/members/석현석.jpeg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Researchers</strong><br>
						<span style="font-size: 2rem; "> Hyeon Seok Seok</span> <br>
						Ph.D Candidate<br>(Chonnam National University)<br>
						<a href="mailto:shhs4695@gmail.com">shhs4695@gmail.com</a>
					</p>


					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						Biosignal analysis, Digital Healthcare, Medical AI
					</p>
				</div>

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Hamin Lim.html">
							<img src="/images/members/임하민.png" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Researchers</strong><br>
						<span style="font-size: 2rem; ">Hamin Lim,</span> <span
							style="font-size: 0.9rem;">M.S.</span><br>
						<a href="mailto:hamin971203@gmail.com">hamin971203@gmail.com</a>
					</p>


					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						Biosignal analysis, Digital Healthcare
					</p>
				</div>
			</div>
		</section>
		<section class="wrapper style1 container special">
			<div class="row">
				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Ye Eun Choi.html">
							<img src="/images/members/최예은.jpg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Researchers</strong><br>
						<span style="font-size: 2rem; ">Ye Eun Choi,</span> <span
							style="font-size: 0.9rem;">B.Sc</span><br>
						<a href="mailto:yechoi.amc@gmail.com">yechoi.amc@gmail.com</a>
					</p>


					<p style="text-align: center; margin: 5px 0;">
						<strong>Research Interests</strong><br>
						Bioinformatics, Medical AI, Digital Healthcare
					</p>
				</div>

				<div class="3u">

					<div style="width: 280px; height: 280px; border-radius: 50%; overflow: hidden;">
						<a href="/htmls/members/Seoyun Park.html">
							<img src="/images/members/박서윤.jpg" alt=""
								style="width: 100%; height: 100%; border-radius: 50%;">
						</a>
					</div>

					<p style="text-align: center; margin: 10px 0;">
						<strong>Administrative Assistant</strong><br>
						<span style="font-size: 2rem; ">Seoyun Park</span>
						<a href="mailto:seoyun.amc@gmail.com">seoyun.amc@gmail.com</a>
					</p>
				</div>
			</div>
		</section>

	</article>


	<span id="Project"></span>
	<article id="main">
		<header class="special container">
			<span class="icon fa-solid fa-layer-group"></span>
			<h2>Project</h2>
		</header>
	</article>


	<article class="sections-container">
		<section class="wrapper style4 container">
			<h3><strong>On-going Projects
				</strong></h3>
			<p>2023.01.-2023.12 <br>
				Development of Autoverification Algorithm for Laboratory Results Using Artificial Intelligence, Asan
				Medical
				Center, South Korea

				<br><br>2023.06.-2024.12<br>
				Developed a Digital Management Platform To Improve Prognosis and Outcomes for Musculoskeletal Surgery
				Patients: Treatment Strategies for Rotator Cuff Tears, Asan Medical Center, South Korea

				<br><br>2023.04.-2027.12<br>
				Development and Validation of M3DT for Electroceuticals and Wearable Bio-Signal Medical Device, Ministry
				of
				Food and Drug Safety, South Korea

				<br><br>2022.04.-2025.12<br>
				Development of Al Software as Medical Device for Management of Full-Cycle of Atrial Fibrillation Based
				on
				Cardiac Digital Twin, Korea Government (the Ministry of Science and ICT, the Ministry of Trade, Industry
				and
				Energy, the Ministry of Health & Welfare, the Ministry of Food and Drug Safety), South Korea

				<br><br>2022.07.-2024.12<br>
				Designing Severity-Specific Situation Recognition Platform for Early Detection of Violence in Psychiatry
				Ward, Ministry of Health and Wellfare (MOHW), South Korea

				<br><br>2020.07.-2028.12<br>
				Development and Commercialization of Next Generation Convergence Care Technology for Optimization of
				High
				Risk Patient Treatment, Ministry of Health and Wellfare (MOHW), South Korea

				<br><br>2021.04.- 2023.12<br>
				Development, Optimization and Clinical Verification of Software for Early Diagnosis and Prognosis of
				Atrial
				Fibrillation Integrating Gene, Electrocardiogram and Clinical Information Based on Artificial
				Intelligence,
				Ministry of Health and Wellfare (MOHW), South Korea

			</p>

		</section>


		<!-- Two -->
		<section class="wrapper style4 container">

			<h3><strong>Past Projects

				</strong></h3>

			<p>2020.12.-2022.12<br>
				Development of a wearable device that shows pain relief using complex energy (cold razor + ultrasound)
				and
				pain releive using photoplethysmography, Ministry of SMEs and Startups (MSS),South Korea

				<br><br>2020.04.-2020.12.<br>
				Commercialization of medical XR-based cognitive walking abnormality inspection and prevention training
				content development service, Ministry of Science and ICT (MSIT),South Korea

				<br><br>2018.06.-2021.02.<br>
				A research group for developing HRQoL assesment metric pursuing individual and group wellness, Ministry
				of
				Science and ICT (MSIT),South Korea

				<br><br>2018.01.-2019.12.<br>
				Development of the WellTEC coaching service and contents for wellness life, Ministry of Science, ICT and
				Future Planning (MSIP),South Korea

				<br><br>2017.04.-2021.03.<br>
				Developed a pulse monitoring model using smartphone for early diagnosis and monitoring of atrial
				fibrillation, Ministry of Science, ICT and Future Planning(MSIP),South Korea

				<br><br>2016.11.-2021.07.<br>
				Development of the cuffless blood pressure measurement technology for continuous blood pressure
				monitoring,
				Ministry of Science, ICT and Future Planning (MSIP),South Korea

				<br><br>2016.07.-2017.06.<br>
				Smart device connected and textile-based smart function mounted outdoor garment for smart life with
				ergonomic design, Ministry of Trade, Industry and Energy (MOTIE),South Korea

				<br><br>2015.07.-2018.06.<br>
				Development of the pain depth quantification technology based on biomedical signal processing, National
				Research Foundation (NRF),South Korea

				<br><br>2014.06.-2017.12.<br>
				Development of the WellTEC coaching service and contents for wellness life, Ministry of Science, ICT and
				Future Planning (MSIP),South Korea

				<br><br>2016.05.-2017.04.<br>
				Unconstrained monitoring system for constructing biomedical bigdata and bio-signal monitoring during
				sleep,
				Small and Medium Business Administration,South Korea

				<br><br>2013.09.-2016.02.<br>
				Center for Training Top-Level Human Resources in Future Fusion Bio Electronic Medical Technology,
				Ministry
				of Education, Science & Technology (MEST),South Korea

				<br><br>2011.01.-2012.04.<br>
				Development of the universal SW infra and application device for accessibility, Ministry of Knowledge
				and
				Economy (MKE), South Korea

				<br><br>2009.12.-2010.11.<br>
				Development of patient specific radio frequency catheter ablation of atrial fibrillation in-silico
				simulation model to prevent stroke, Ministry of Health & Welfare,South Korea

				<br><br>2007.08.-2008.07.<br>
				Development of the evaluation method for tilting train based on biomedical signal, Ministry of Land,
				Transport and Maritime Affairs, South Korea

				<br><br>2006.03.-2006.11.<br>
				Development of the guideline for evaluation of body composition analysis device, Ministry of Health &
				Welfare, South Korea

				<br><br>2005.03.-2009.02.<br>
				Development of the implantable system based on biomedical signal processing, Ministry of Knowledge and
				Economy (MKE), South Korea

				<br><br>2005.04.-2005.11.<br>
				Evaluation of u-Health devices, Ministry of Health & Welfare (MHW),South Korea

				<br><br>2004.05.-2007.04.<br>
				Center for supporting e-Health research, Ministry of Commerce Industry and Energy (MCIE) , South Korea

				<br><br>2003.03.-2003.11.<br>
				Development of evaluation method for wireless technology for medical device, Ministry of Health &
				Welfare
				(MHW), South Korea
			</p>
			</div>
		</section>
	</article>


	<span id="Connection"></span>
	<article id="main">
		<header class="special container">
			<span class="icon fa-solid fa-layer-group"></span>
			<h2>Connection</h2>
		</header>
	</article>

	<article class="sections-container">
		<section class="wrapper style4 container">
			<section>
				<header>
					<h3>PARTICIPATION</h3>
				</header>
				<p>D. Lab offers unique opportunities for students enrolled in the Ulsan University Graduate
					School of Medical Science and AMIST (Asan Medical Institute of Convergence Science and
					Technology, <a href="http://amist.ac.kr/">http://amist.ac.kr/</a>), as well as individuals
					interested in collaborating with
					Asan Medical Center, University of Ulsan College of Medicine.</p>
				<p>We are currently seeking dedicated professionals to join our team in various roles, including
					research professors, postdoctoral researchers, and researchers. If you have a passion for
					cutting-edge research and innovation, we invite you to consider a rewarding career with D.
					Lab.</p>
			</section>

			<section>
				<header>
					<h3>COLLABORATION</h3>
				</header>
				<p style="margin-bottom: 8px;">D. Lab thrives on collaborative research, actively engaging with
					esteemed academics and
					industry leaders across engineering and medicine. We continually seek to expand our horizons
					by collaborating with experts from diverse domains. If you're a passionate researcher or a
					forward-thinking company interested in joining hands with D. Lab, we warmly invite you to
					reach out to us through the contact details provided on our website. Let's explore new
					frontiers together.
				</p>
			</section>

			<section>
				<header>
					<h3>CONTACT</h3>
				</header>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.2330040640663!2d127.10569547589313!3d37.52600437645127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca56a3f5c178f%3A0x6f94e28da52f732a!2z7ISc7Jq47JWE7IKw67OR7JuQ!5e0!3m2!1sko!2skr!4v1697526819162!5m2!1sko!2skr"
					width="80%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>


				<footer>
					<p>
					<h3>Address</h3>
					Asan Institute for Life Sciences, 88 Olympic-ro 43-gil, Songpa-gu, Seoul,<br />
					05505, Republic of Korea
					<br />
					<br />
					<h3>Contact e-mail</h3>
					digitalhealth.amc@gmail.com</p>

				</footer>
			</section>

		</section>
	</article>