---
layout: default
---
<!-- Main -->
<article id="main">

	<header class="special container">
		<span class="icon fa-solid fa-layer-group"></span>
		<h2><strong>inside the lab</strong></h2>
		<p style="font-size: 18px; color: #565a5c; ">D.LAB as Digital-Medicine Laboratory <br>
			@ Asan Medical Center
		</p>
	</header>

	<!-- One -->

	<section class="wrapper style1 container special">
		<div class="row">
			<div class="4u">

				<section>
					<span class="icon featured  fa-solid fa-user-tie"></span>
					<header>
						<h3>memebers</h3>
					</header>
					<p>Solutions to human well-being.<br>
						Group of Professionals.<br><br>
					</p>

					<footer>
						<ul class="buttons">
							<li><a href="memebers.html" class="button fit scrolly">About Members</a></li>
						</ul>
					</footer>
				</section>

			</div>
			<div class="4u">

				<section>
					<span class="icon featured   fa-sheet-plastic"></span>
					<header>
						<h3>project</h3>
					</header>
					<p>On-going and Past<br>
						Funded Projects<br><br>
					</p>

					<footer>
						<ul class="buttons">
							<li><a href="project.html" class="button fit scrolly">About Project</a></li>
						</ul>
					</footer>

				</section>

			</div>
			<div class="4u">

				<section>
					<span class="icon featured a-solid fa-users"></span>
					<header>
						<h3>collaboration</h3>
					</header>
					<p>Connecting with experts from diverse<br> domains, collaborations <br> are actively opened.</p>
					<footer>
						<ul class="buttons">
							<li><a href="#start" class="button fit scrolly">Get Contact</a></li>
						</ul>
					</footer>
				</section>

			</div>
		</div>
	</section>



	<!-- Two -->
	<section class="wrapper style4 container" id="start">

		<div class="row oneandhalf">
			<div class="4u">

				<!-- Sidebar -->
				<div class="sidebar">
					<section>
						<img src="/images/logo/logo2.png" alt="" style="width: 360px;">
						<header>
							
							<h3>MISSION & VISION</h3>
						</header>
						<p style="margin-bottom: 8px;">Our mission is to harness the collective power of knowledge and cutting-edge technology
							across diverse domains to deliver innovative solutions that promote human well-being, with a
							particular emphasis on advancing healthcare practices that contribute to a healthier and
							happier existence. In parallel, we are dedicated to nurturing a cadre of imaginative and
							resilient professionals capable of perpetuating this quest.
						</p>
					</section>


					<section>
						<header>
							<h3>HISTORY</h3>
						</header>
						<p style="margin-bottom: 8px;">D.Lab opened in March 2022 at Asan Medical Center, University of Ulsan College of Medicine.
							DLab's predecessor was Healthcare Solution Lab., which was originally established at the
							College of Engineering Science at Chonnam National University. It was later renewed as D.Lab
							when Professor Hangsik Shin, the Principal Investigator (PI), relocated to Asan Medical
							Center, University of Ulsan College of Medicine
						</p>
					</section>

					<section>
						<header>
							<h3>COLLABORATION</h3>
						</header>
						<p style="margin-bottom: 8px;">D. Lab thrives on collaborative research, actively engaging with esteemed academics and
							industry leaders across engineering and medicine. We continually seek to expand our horizons
							by collaborating with experts from diverse domains. If you're a passionate researcher or a
							forward-thinking company interested in joining hands with D. Lab, we warmly invite you to
							reach out to us through the contact details provided on our website. Let's explore new
							frontiers together.
						</p>
					</section>
				</div>

			</div>
			<div class="8u skel-cell-important">

				<!-- Content -->
				<div class="content">
					<section>
						<header>
							<h3>PARTICIPATION</h3>
						</header>
						<p>D. Lab offers unique opportunities for students enrolled in the Ulsan University Graduate
							School of Medical Science and AMIST (Asan Medical Institute of Convergence Science and
							Technology, <a href="http://amist.ac.kr/">http://amist.ac.kr/</a>), as well as individuals
							interested in collaborating with
							Asan Medical Center, University of Ulsan College of Medicine.</p>
						<p>We are currently seeking dedicated professionals to join our team in various roles, including
							research professors, postdoctoral researchers, and researchers. If you have a passion for
							cutting-edge research and innovation, we invite you to consider a rewarding career with D.
							Lab.</p>
					</section>


					<section>
						<header>
							<h3>News</h3>
						</header>
						<ul class="posts">
							{% for post in site.posts limit: 4 %}
							<li class="wrapper style1" style="margin-bottom: 0;">
								<p style="margin-bottom: 0;"><a href="{{ post.url }}">{{ post.title }}</a></p>
								<p class="post-date" style="font-size: 14px; margin-bottom: 0;">{{ post.date | date:
									"%Y-%m-%d" }}</p>
							</li>
							{% if forloop.last == false %}
							<hr style="border: 1px solid #ccc; margin-bottom: 0;"> <!-- 게시물 간의 밑줄 -->
							{% endif %}
							{% endfor %}
						</ul>
					</section>



					<section>
						<h3>Contact</h3>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.2330040640663!2d127.10569547589313!3d37.52600437645127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca56a3f5c178f%3A0x6f94e28da52f732a!2z7ISc7Jq47JWE7IKw67OR7JuQ!5e0!3m2!1sko!2skr!4v1697526819162!5m2!1sko!2skr"
							width="80%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>


						<footer>
							<p>
							<h3>Address</h3>
							Asan Institute for Life Sciences, 88 Olympic-ro 43-gil, Songpa-gu, Seoul,<br />
							05505, Republic of Korea
							<br />
							<br />
							<h3>Contact e-mail</h3>
							digitalhealth.amc@gmail.com</p>

						</footer>
					</section>







				</div>
			</div>
		</div>
	</section>




</article>