---
layout: default
---

<link rel="stylesheet" href="/css/github-markdonw.css" />

<article id="main">
  <header class="special container">
    <!-- <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if
      page.meta %} • {{ page.meta }}{% endif %}</p> -->
  </header>

  <section class="style4 wrapper container">
    <span class="markdown-body">


      <h2 class="post-title">{{ page.title }}</h2>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if
        page.meta %} • {{ page.meta }}{% endif %}</p>
      {{ content }}

    </span>
  </section>
  {%- if page.comments -%}
  <div id="post-disqus" class="container">
    {%- include disqus_comments.html -%}
  </div>
  {%- endif -%}




  <footer>
    {% if page.previous %}
    <a href="{{ page.previous.url }}" class="post-prev"><span style="color: black;">&larr; Previous post</span></a> {%
    endif %}
    {% if page.next %}
    <a href="{{ page.next.url }}" class="post-next"><span style="color: black;">Next post &rarr;</span></a> {% endif %}
  </footer>

</article>